<div></div>
<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script src="/js/chat/chat_events.js" type="module"></script>
<script src="/js/chat/chat_helpers.js" type="module"></script>
<script src="/js/chat/chat.js" type="module"></script>

