<div>
    <a href="/login/local">Logearse con usuario y password</a>
    <br>
    <a id="loginGithub" href="/login/github">Logearse con github</a>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script src="/js/loginGithub.js" type="module"></script>
</div>