<div>
    <h1>Login</h1>

    <form id="LoginForm" action="" method="post">
        <label for="email_id">Email:</label>
        <input type="email" id="email_id" name="email" required><br><br>
        
        <label for="password_id">Password:</label>
        <input type="password" id="password_id" name="password" required><br><br>
        
        <input type="submit" value="Login">
    </form>    
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script src="/js/login.js" type="module"></script>
</div>